/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

h3 {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 50px;
    gap: 35px;
}

.main-container {
    position: relative; 
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Header ***********/




/****** Nav ***********/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px 100px;
}

.logo { 
    width: 61.09px;
    height: 19px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 0px 50px;
}

.nav-links a:hover {
    color: var(--Blue, #0065FC);
    text-align: center;
    border-top: 2px solid #0065FC;
    position: relative; 
    top: -10px; 

}

/****** Hero header ***********/

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.search-bar {
    display: flex;
    flex-direction: row;
    gap: -24px;
}

.field-form {
    display: flex;
    width: 100px;
    height: 49px;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    color: var(--Black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-button {
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 25px 0px;
}

.filter-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-list-item {
    display: flex;
    height: 35px;
    padding: 1px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
}

.filter-list-item:hover {
    background-color: var(--Blue-Light, #DEEBFF); /* Couleur de fond au survol */
}

.filter-alert {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;   
}   


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 20px;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--Grey, #F2F2F2);
    padding: 30px;
}

.hebergements-ligne {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hebergements .additional-info {
    justify-content: left;
    padding: 30px;
    color: #000;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 250px;
}

.hebergements-cards img {
    display: flex;
    height: 136px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
    border-radius: 15px;
    background: var(--Grey, #F2F2F2);
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.populaires-title {
    justify-content: left;
    padding: 30px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 50px 0px;
}

.activites-title {
    padding: 10px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: 33px;
}

.activites-cards img {
    height: 380px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.activites-cards .card-title {
    padding: 5px 10px;
}


/****** Footer ***********/
footer {
    display:flex;
    flex-direction: row;    
    gap: 300px;
    padding: 20px;
    background: var(--Grey, #F2F2F2);
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin: 0px;
} 

.footer-list {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 15px;
} 

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}