/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    align-self: stretch;
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

h3 {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 35px;
    margin: 0;
    position: relative; 
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0px;
}

.section-title {
    display: flex;
    margin: 0;
    font-size: 22px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card :hover {
    background-color: var(--Blue-Light, #DEEBFF); 
    cursor: pointer;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

header {
    display: flex;
    flex-direction: column;
}

/****** Nav ***********/

nav {
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 60px;
}


.logo { 
    width: 61.09px;
    height: 19px;
}

.nav-links a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 30px ;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.nav-links a:hover {
    color: var(--Blue, #0065FC);
    text-align: center;
    border-top: 2px solid #0065FC;
}

/****** Hero header ***********/

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: -5px;
}

.field-form {
    display: flex;
    width: 100px;
    height: 46px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    color: var(--Black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    radius: 0px;
}

.hero-button {
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filtre {
    color: black;
     font-size: 16px;
     font-family: Raleway;
     font-weight: 700;
     word-wrap: break-word
}

.filter-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 25px 0px;
}

.filter-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-list-item {
    display: flex;
    height: 35px;
    padding: 1px 10px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
}

.filter-list-item:hover {
    background-color: var(--Blue-Light, #DEEBFF); 
    cursor: pointer;
}

.filter-alert {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;   
}   

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 20px;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: var(--Grey, #F2F2F2);
    padding: 10px;
    width: 80%;
    gap: 30px;
}

.hebergements-title {
    justify-content: left;
    padding: 20px 30px 5px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 30px;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 230px;
}

.hebergements-card .card :hover {
    background-color: var(--Blue-Light, #DEEBFF); 
    cursor: pointer;
}

.hebergements-cards img {
    display: flex;
    height: 110px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.hebergements .additional-info {
    justify-content: left;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
}

/****** Populaires ***********/

.populaires {
    border-radius: 15px;
    background: var(--Grey, #F2F2F2);
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
}

.populaires-title {
    justify-content: left;
    padding: 20px 30px 5px;
    display: flex;
    flex-direction: row;
    gap: 140px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 30px;
    gap: 30px;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 60px 0px;
    gap: 30px;
}

.activites-title {
    justify-content: left;
    padding: 20px 30px 5px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    gap: 50px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 33px;
    padding: 0px;
}

.activites-cards img {
    height: 380px;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: lightgray 50% / cover no-repeat
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px 10px 10px;
}

/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;    
    gap: 300px;
    padding: 60px 60px 0px;
    margin: 20px 20px 0px;
    background: var(--Grey, #F2F2F2);
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin: 0px;
} 

.footer-list {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px;
    gap: 15px;
} 

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
   xfpop
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    
/****** General ***********/



/****** Nav ***********/



/****** Hebergements And Populaires ***********/


/****** Activités ***********/
